<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<a th:href="@{/write}">항목 추가</a>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
        <th>수정일</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.createdAt}"></td>
            <td th:text="${item.updatedAt}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>